:root {
    --font-family: 'futura', sans-serif;

    --primary-color: #333f48;
    --text-color: #333;
    --text-color-bold: #231f20;
    --light: #fff;
    --red: #d02020;
  
    --gray: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
}

body {
    color: var(--text-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 14px;
}

 /* Fonts emmbeded  */
@font-face {
    font-family: "futura";
    src: url('../font/futura-vh/SFUFuturaLight.TTF');
    font-weight: 300;
}
@font-face {
    font-family: "futura";
    src: url('../font/futura-vh/SFUFuturaRegular.TTF');
    font-weight: 400;
}
@font-face {
    font-family: "futura";
    src: url('../font/futura-vh/SFUFuturaHeavy.TTF');
    font-weight: 600;
}
@font-face {
    font-family: "futura";
    src: url('../font/futura-vh/SFUFuturaBold.TTF');
    font-weight: 700;
}

input, button {
    outline: none;
    border: none;
    font-family: var(--font-family);
}

button {
    cursor: pointer;
    background-color: #fff;
    height: auto;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    color: var(--link-color);
    text-decoration: none;
}
