/* Css cá»§a trang index */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* vi tri
       kich thuoc
       mau sac
       kieu dang*/
/* public Class */
html {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.wrapper .open__bag{
  display: flex;
}
.text_decoration {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
/* Begin-Header-content  */
.wrapper {
  width: 100%;
  height: 1000px;
}
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #fff;
}
.header__content_img {
  margin: 10px;
}
.content_img img {
  width: 30%;
}

/* Begin-nav */
.navbar__items {
  position: absolute;
  left: 200px;
  top: 20px;
}
.navbar__items .hover-down {
  display: inline-block;
  padding: 2px 10px;
  cursor: pointer;
}
.navbar__items li {
  display: block;
  padding: 2px 10px;
  cursor: pointer;
}

.navbar__items .hover-down {
  position: static;
}
.male-menu-bst,
.hover-down .male-menu {
  visibility: hidden;
  z-index: 1;
  position: fixed;
  top: 61px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  transition: all 0.2s linear;
}
.hover-down .male-menu{
  height: 260px;

}

.hover-down .male-menu-bst{
  height: 350px;
}
.text_decoration:hover {
  text-decoration: underline;
}

.hover-down:hover .male-menu {
  /* display: block; */
  visibility: visible;
}
.hover-down:hover .male-menu-bst {
  /* display: block; */
  visibility: visible;
}
.hover-down li a {
  text-decoration: none;
}
.container * {
  box-sizing: border-box;
}
.container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.sub-menu {
  /* float: left; */
  width: 20%;
  font-size: 14px;
  margin-right: 20px;
}
.sub-menu-bst{
  width: 18%;
  font-size: 14px;
  margin-right: 20px;
}
.sub-menu .title {
  font-size: 14px;
  padding-bottom: 15px;
}
.sub-content{
  display: flex;
  width: 70%;
}
.sub-content-bst{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.title-content li a {
  color: rgb(83, 81, 81);
  display: inline;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
}
.title-bst,
.sub-menu h2 a {
  text-decoration: none;
  font-weight: 400;
  line-height: 1.1;
  font-size: 14px;
  letter-spacing: 0.07px;
  color: #000;
 

  /* margin-top: 2rem; */
  margin-bottom: 1rem;
}
.sub-menu .title-content {
  position: relative;
  left: -9px;
}

/* End-nav */
.header_search {
  position: absolute;
  box-shadow: 0px 1px #b3b3b3;

  right: 180px;
  top: 20px;
}
.header_search .search-input {
  border: none;
  outline: none;
  box-shadow: 0px 1px #b3b3b3;
  height: 26px;
}

.header_contact {
  position: absolute;
  right: 26px;
  top: 14px;
  padding: 10px 10px 0px;
}
.header_contact i {
    margin: 0px 8px;
  color: #231f20;
  display: inline-block;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 0.07px;
  line-height: 22px;
  cursor: pointer;
}
.slider {
  height: 100px;
  background-color: #333f48;
  color: white;
}
.slider h1 {
  font-size: 14px;
  text-align: center;
  padding-top: 73px;
}
/* Modal */
.modal__bag{
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 animation: showBag ease 0.3s;
}
.modal__bag-overlay{
  position: absolute;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

}
.modal__bag-body{ 
  position: absolute;
  right: 0;
  top:0;
  height: 100%;
  width: 390px;
  background-color:#fff;
}
.modal__bag-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #ddd;
}
.modal__bag-content h3{
  
  font-weight: 400;
  line-height: 1.1;
  font-size: 14px;
  letter-spacing: 0.07px;
  color: #000;
}
.modal__bag-about{
  display: flex;
  justify-content: center;
}
@keyframes showBag {
  from{
        transform: translateX(390px);
  }
  to{
  transform: translateX(0);
  }
}
.footer {
  width: 100%;
  height: 800px;
  background-color: rgb(92, 97, 97);
}
.bst-list{
  /* display: flex; */
}